<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <section class="container mt-5">
            <form id="linkForm">
                <h3>Ultimate URL Shortener</h3>
                <div class="inpDiv">
                    <label for="ytLink">Paste url here:</label>
                    <input
                        id="ytLink"
                        type="url"
                        required
                        placeholder="https://acodebyte.blogspot.com/"
                    />
                </div>
                <div class="loadBtn">
                    <button>Shorten URL</button>
                </div>
            </form>
        </section>

        <section class="container prev_link_con">
            <div class="card prev_link_card mt-4 mb-5">
                <!-- <div class="card-header">Previous Links:</div> -->
                <!-- <div class="card-body">
                    <blockquote class="blockquote mb-2 p-2" style="border-left: 6px solid #0a58ca">
                        <p style="color: #0a58ca; font-weight: bold; font-size: 18px !important;">
                            A well-known quote, contained in a blockquote
                            element.
                        </p>
                        <footer class="blockquote-footer" style="font-size: 15px">
                            Someone famous in
                        </footer>
                    </blockquote>
                </div> -->
            </div>
        </section>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>
