<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <section class="container bg-white p-5 rounded mt-5 w-50">
            <form id="signUpForm w-100" action="/user/create" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Your name</label>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        id="name"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        aria-describedby="emailHelp"
                        name="email"
                        required
                    />
                    <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        id="password"
                        required
                    />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
